@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
  scroll-padding: 3rem;
}

:root {
  --main-color: #207a39;
  --secondary-color: #ffffff;
  --background-color: #eefdee;

  --title-color: #260701;
  --text-color: #774936;
  --hover-color: #59e17e;
  --inactive-color: #ced4da;

  --h1-font: 3rem;
  --h2-font: 2rem;
  --h3-font: 1.6rem;
  --p-font: 1.1rem;
}

/* Animation Preferences */
@media (prefers-reduced-motion: reduce) {
  ::view-transition-group(*),
  ::view-transition-old(*),
  ::view-transition-new(*) {
    animation: none !important;
  }
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

section {
  margin-bottom: 120px;
}

.button {
  padding: 10px 40px;
  font-weight: 600;
  letter-spacing: 1px;
  transition: .3s ease-in-out;
  cursor: pointer;
}

.green-button {
  background: var(--main-color);
  color: var(--secondary-color);
}

/* .green-button:hover {
  background: var(--hover-color);
  color: var(--main-color);
} */

.white-button {
  background: var(--secondary-color);
  color: var(--main-color);
  border: 2px solid var(--main-color);
}

.white-button:hover {
  background: var(--main-color);
  color: var(--secondary-color);
}

/* NAVIGATION BAR */
header {
  position: relative;

  view-transition-name: header;
}

header .header-background {
  height: 125px;
  background-color: var(--main-color);
}

nav {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  transform: translateY(50%);
}

.navigation-container {
  position: relative;

  width: 85%;
  height: 80px;
  background-color: var(--secondary-color);
  border-radius: 999px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 55px;
  box-shadow: 0px 1px 17px 1px rgba(0, 0, 0, 0.75);
}

.logo-container {
  display: inline-flex;
  align-items: center;
  gap: 20px;

  color: var(--main-color);
}

.logo-container .header-logo {
  width: 60px;
  height: auto;
}

.logo-container p {
  display: none;
}

.navigation-container #nav-menu {
  display: flex;
  align-items: center;
  gap: 60px;
}

.navigation-container #nav-menu.open {
  max-height: 0;
  padding-block: 0;
}

.navigation-container #nav-menu li a {
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--text-color);
  transition: 0.3s ease-in-out;
}

.navigation-container #nav-menu li .inactive:hover {
  color: var(--title-color);
  text-shadow: 0 0 2px var(--title-color);
}

.navigation-container #nav-menu li .active {
  font-weight: bold;
  color: var(--title-color);
}

.header-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 999px;
  cursor: pointer;
}

.header-button i {
  font-size: 1.4rem;
  vertical-align: middle;
  cursor: pointer;
}

.header-button .cart-text {
  font-size: var(--p-font);
  font-weight: 500;
}

.header-button .line-header {
  display: none;
  width: 3px;
  height: 25px;
  background: var(--hover-color);
  margin-inline: 10px;
}

.header-button #hamburger-button {
  display: none;
}

/* HOME */
main {
  flex: 1;
  padding: 120px 10% 60px;
}

.home-container {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.home-description {
  flex-basis: 50%;
}

.home-img {
  flex-basis: 50%;
}

.home-description h1 {
  font-size: var(--h1-font);
  color: var(--title-color);
}

.home-description p {
  margin: 15px 0 50px;
  font-size: var(--p-font);
  color: var(--text-color);
}

.home-btn {
  display: flex;
  gap: 30px;
}

.home-btn a {
  border-radius: 999px;
}

.home-img {
  display: flex;
  justify-content: center;
}

.home-img img {
  width: 70%;
  height: auto;
}

/* OUR SERVICES */
.background-section {
  background-color: var(--background-color);
  padding: 70px;
}

.service-container h1 {
  text-align: center;
  color: var(--title-color);
  font-size: var(--h1-font);
  margin-bottom: 3rem;
}

.fitur {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 2rem;
  text-align: center;
  justify-content: center;
}

.list-fitur i {
  color: var(--main-color);
  margin-bottom: 15px;
}

.list-fitur h2 {
  color: var(--title-color);
  font-size: var(--h2-font);
  font-weight: 500;
}

.list-fitur p {
  color: var(--text-color);
  font-size: var(--p-font);
}

/* VISION & MISSION */
.visi-misi-container {
  display: flex;
  gap: 3rem;
}

.vision-mission-image {
  flex-basis: 50%;
}

.visi-misi-container img {
  width: 70%;
}

.vision-mission-body {
  flex-basis: 50%;
}

.vision-mission-body h1 {
  color: var(--title-color);
  font-size: var(--h1-font);
}

.vision-mission-description {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.vision-mission-body h2 {
  color: var(--title-color);
  font-size: var(--h2-font);
}

.vision-mission-description p {
  margin-top: .8rem;
  color: var(--text-color);
  font-size: var(--p-font);
}

/* SHOP */
.shop-container h1 {
  font-size: var(--h1-font);
  color: var(--title-color);
  margin-bottom: 3rem;
  text-align: center;
}

.search-btn {
  text-align: center;
}

.search-btn .search-shop {
  width: 60%;
  padding: 15px;
  border: var(--main-color) solid;
  border-radius: 50px;
  font-size: var(--p-font);
}

.filter-shop-button-container {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-block: 40px;
}

.filter-shop-button-container button {
  background-color: var(--inactive-color);
  color: #000000;
  border: none;
  border-radius: 10px;
  font-size: var(--p-font);
  font-weight: bold;
}

.filter-shop-button-container .filter-active {
  background-color: var(--main-color);
  color: var(--secondary-color);
}

.item-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
  text-align: center;
}

.card {
  background-color: var(--secondary-color);
  padding: 30px 20px;
  border-radius: 10px;
  box-shadow: 4px 4px 10px -2px rgba(0, 0, 0, 0.75);
}

.card .item-image {
  width: 60%;
}

.card .item-name {
  color: var(--title-color);
  font-size: var(--h3-font);
  font-weight: 500;
  margin-top: 20px;
}

.card .item-description {
  color: var(--text-color);
  font-size: var(--p-font);
  margin: 10px 20px;
}

.card .item-price {
  font-size: var(--h3-font);
  color: var(--main-color);
  font-weight: bold;
}

.shop-btn {
  display: flex;
  justify-content: center;
  margin-top: 4rem;
}

.shop-btn a {
  border-radius: 999px;
}

/* FOOTER */
footer {
  position: relative;
}

.footer-heading {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  transform: translateY(-50%);
}

.navigation-container .footer-title {
  font-size: var(--h3-font);
  color: var(--title-color);
  font-weight: 500;
}

.navigation-container a {
  border-radius: 999px;
  font-weight: 500;
}

.footer-container {
  background-color: var(--main-color);
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 120px 10% 50px;
}

.footer-content {
  display: flex;
  align-items: center;
  gap: 25%;
}

.footer-acount {
  display: flex;
  flex-direction: column;
}

.footer-logo {
  width: 120px;
}

.logo-name-footer {
  color: var(--secondary-color);
  font-size: var(--h2-font);
}

.footer-social-media {
  margin-top: 10px;
}

.footer-social-media a {
  font-size: var(--h2-font);
  margin-inline: 7px;
}

.footer-detail {
  width: 100%;
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: space-between;
  gap: 40px;
}

.footer-detail-text {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer-detail-text h3 {
  color: var(--secondary-color);
  font-size: var(--h3-font);
  font-weight: 600;
  margin-bottom: 10px;
}

.footer-detail-text a {
  color: var(--secondary-color);
  font-size: var(--p-font);
  font-weight: 300;
  transition: 0.3s ease-in-out;
}

.footer-detail-text a:hover {
  color: var(--hover-color);
}

.footer-line {
  height: 2px;
  width: 100%;
  background-color: var(--secondary-color);
}

.footer-copyright {
  display: flex;
  justify-content: space-between;
  color: var(--secondary-color);
  font-size: var(--p-font);
  font-weight: 300;
}

.footer-law {
  display: flex;
  /* flex-wrap: wrap; */
  gap: 70px;
}

.footer-law a {
  color: var(--secondary-color);
  transition: 0.3s ease-in-out;
}

.footer-law a:hover {
  color: var(--hover-color);
}

/* SCANNER */
.scanner-container h1 {
  font-size: var(--h1-font);
  color: var(--title-color);
  text-align: center;
  margin-bottom: 3rem;
}

.new-form__camera__video {
  width: 100%;
  background-color: rgb(166, 154, 154);
  border-radius: 10px;
  border: 4px solid var(--main-color);
  display: block;
}

.new-form__camera__canvas {
  display: none;
}

.new-form__camera__tools {
  margin-top: 5px;
  flex-direction: column;

  display: none;
}

input,
select {
  transition: box-shadow 150ms ease-in-out;
}

input {
  min-height: 44px;
  min-width: 44px;
  width: 100%;
  padding: 12px 10px;
  border-radius: 4px;
  border: 1px solid #d4d4d4;

  font-size: 1rem;
  font-family: 'Inter', sans-serif;

  resize: vertical;
}

input:focus-visible,
select:focus-visible,
.btn:focus-visible {
  outline: none;
  box-shadow: 0 0 0 4px var(--hover-color);
}

.new-form__camera__tools.open {
  display: flex;
}

select {
  display: inline-block;
  border-radius: 10px;
  border: solid 1px var(--main-color);
  padding-block: 8px;
  padding-inline: 10px 20px;

  font-size: 1rem;
  line-height: 1rem;

  box-shadow: 0 1px 0 1px var(--main-color);
}

.camera-btn-container {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.camera-btn-container button {
  border-radius: 10px;
}

.documentations-buttons-container {
  display: flex;
  gap: 20px;
}

.camera-take-button-container {
  display: flex;
}

.camera-take-button-container button {
  border: none;
}

.new-form__documentations__input {
  display: none;
}

.camera-line {
  height: 4px;
  width: 100%;
  margin-block: 70px;
  background-color: var(--main-color);
}

.new-form__documentations__outputs {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}

.new-form__documentations__outputs-item {
  background-color: var(--secondary-color);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 4px 4px 10px -2px rgba(0, 0, 0, 0.75);

  display: flex;
  gap: 30px;
}

.scan-results-image img {
  max-width: 300px;
  border-radius: 10px;

  display: block;
  width: 100%;
  height: 100%;

  object-fit: cover;
  object-position: center;

  transition: 150ms ease-in-out;
}

.scan-results-description h3 {
  font-size: var(--h3-font);
  color: var(--main-color);
}

.scan-results-description .trash-type {
  padding: 5px 40px;
  margin-block: 10px;
  color: var(--main-color);
  background-color: #207a3998;
  border: 2px solid var(--main-color);
  border-radius: 10px;
  font-size: var(--p-font);
  font-weight: 600;

  display: inline-block;
}

.scan-results-description .trash-type .organik{
  color: var(--main-color);
  background-color: #207a3998;
  border: 2px solid var(--main-color);
}

.scan-results-description .trash-type .anorganik{
  color: #FFD000;
  background-color: #ffd0004a;
  border: 2px solid #FFD000;
}

.scan-results-description .trash-description {
  font-size: var(--p-font);
  color: var(--text-color);
}

.delete-btn-container {
  margin-top: 30px;
  display: flex;
  justify-content: end;
}

.delete-btn {
  padding: 7px 30px;
  background-color: red;
  color: var(--secondary-color);
  border-radius: 10px;
  border: none;
  font-size: var(--p-font);
  font-weight: 400;
  cursor: pointer;
}
